<script type="text/javascript" src="../../static/js/jquery-1.11.2.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
  $(".toggle").click(function(){
  var id = $(this).attr('id');
  //alert(id);
  $("#pad_"+id).toggle();
  });
});
</script><br/>
****************************************************************************************************<br/>
job_id : 34<br/>
PLAY [Hello World]<br/>
<script type="text/javascript" src="../../static/js/jquery-1.11.2.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
  $(".toggle").click(function(){
  var id = $(this).attr('id');
  //alert(id);
  $("#pad_"+id).toggle();
  });
});
</script>
RUNNER_ON_OK 10.20.0.88 GATHERING FACTS<br/>
<script type="text/javascript" src="../../static/js/jquery-1.11.2.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
  $(".toggle").click(function(){
  var id = $(this).attr('id');
  //alert(id);
  $("#pad_"+id).toggle();
  });
});
</script>
RUNNER_ON_OK 10.20.0.89 GATHERING FACTS<br/>
TASK [Hello World]<br/>
<div style="background-color:green;" class="toggle" id="bb10ff7f-22ad-4a73-a062-ac9f2bf5aba5">RUNNER_ON_OK 10.20.0.89</div><div style="display:none;" id="pad_bb10ff7f-22ad-4a73-a062-ac9f2bf5aba5">{<br/>    "cmd": "echo \"Hi! Tower is working\" && sleep 10", <br/>    "end": "2015-07-01 15:50:48.765545", <br/>    "stdout": "Hi! Tower is working", <br/>    "changed": true, <br/>    "start": "2015-07-01 15:50:38.762157", <br/>    "delta": "0:00:10.003388", <br/>    "stderr": "", <br/>    "rc": 0, <br/>    "invocation": {<br/>        "module_name": "shell", <br/>        "module_args": "echo \"Hi! Tower is working\" && sleep 10"<br/>    }, <br/>    "warnings": []<br/>}</div><br/>
<div style="background-color:green;" class="toggle" id="69ec3a3d-34dd-43d2-9975-a5ecb7c3955b">RUNNER_ON_OK 10.20.0.88</div><div style="display:none;" id="pad_69ec3a3d-34dd-43d2-9975-a5ecb7c3955b">{<br/>    "cmd": "echo \"Hi! Tower is working\" && sleep 10", <br/>    "end": "2015-07-01 15:50:48.507232", <br/>    "stdout": "Hi! Tower is working", <br/>    "changed": true, <br/>    "start": "2015-07-01 15:50:38.503747", <br/>    "delta": "0:00:10.003485", <br/>    "stderr": "", <br/>    "rc": 0, <br/>    "invocation": {<br/>        "module_name": "shell", <br/>        "module_args": "echo \"Hi! Tower is working\" && sleep 10"<br/>    }, <br/>    "warnings": []<br/>}</div><br/>
TASK [debug msg=""]<br/>
<div style="background-color:green;" class="toggle" id="c3e5455d-49b8-46ad-bf77-765882d6a664">RUNNER_ON_OK 10.20.0.88</div><div style="display:none;" id="pad_c3e5455d-49b8-46ad-bf77-765882d6a664">{<br/>    "msg": "", <br/>    "verbose_always": true, <br/>    "invocation": {<br/>        "module_name": "debug", <br/>        "module_args": "msg=\"\""<br/>    }<br/>}</div><br/>
<div style="background-color:green;" class="toggle" id="ed0b5d6c-1705-492a-b36a-8d062bc81257">RUNNER_ON_OK 10.20.0.89</div><div style="display:none;" id="pad_ed0b5d6c-1705-492a-b36a-8d062bc81257">{<br/>    "msg": "", <br/>    "verbose_always": true, <br/>    "invocation": {<br/>        "module_name": "debug", <br/>        "module_args": "msg=\"\""<br/>    }<br/>}</div><br/>
TASK [Print datetime now]<br/>
<div style="background-color:green;" class="toggle" id="11ce5600-3e23-4cfc-90d0-0d6f0f265fa7">RUNNER_ON_OK 10.20.0.89</div><div style="display:none;" id="pad_11ce5600-3e23-4cfc-90d0-0d6f0f265fa7">{<br/>    "cmd": "date && echo && sleep 10", <br/>    "end": "2015-07-01 15:50:59.081971", <br/>    "stdout": "Wed Jul  1 15:50:49 CST 2015", <br/>    "changed": true, <br/>    "start": "2015-07-01 15:50:49.076726", <br/>    "delta": "0:00:10.005245", <br/>    "stderr": "", <br/>    "rc": 0, <br/>    "invocation": {<br/>        "module_name": "shell", <br/>        "module_args": "date && echo && sleep 10"<br/>    }, <br/>    "warnings": []<br/>}</div><br/>
<div style="background-color:green;" class="toggle" id="2cdd898a-02ce-41b0-9149-9771d1f4943c">RUNNER_ON_OK 10.20.0.88</div><div style="display:none;" id="pad_2cdd898a-02ce-41b0-9149-9771d1f4943c">{<br/>    "cmd": "date && echo && sleep 10", <br/>    "end": "2015-07-01 15:50:58.872404", <br/>    "stdout": "Wed Jul  1 15:50:48 CST 2015", <br/>    "changed": true, <br/>    "start": "2015-07-01 15:50:48.867684", <br/>    "delta": "0:00:10.004720", <br/>    "stderr": "", <br/>    "rc": 0, <br/>    "invocation": {<br/>        "module_name": "shell", <br/>        "module_args": "date && echo && sleep 10"<br/>    }, <br/>    "warnings": []<br/>}</div><br/>
TASK [debug msg=""]<br/>
<div style="background-color:green;" class="toggle" id="8bf3e879-5572-451f-9683-6d3c30356e6a">RUNNER_ON_OK 10.20.0.88</div><div style="display:none;" id="pad_8bf3e879-5572-451f-9683-6d3c30356e6a">{<br/>    "msg": "", <br/>    "verbose_always": true, <br/>    "invocation": {<br/>        "module_name": "debug", <br/>        "module_args": "msg=\"\""<br/>    }<br/>}</div><br/>
<div style="background-color:green;" class="toggle" id="f6b791c6-c3ae-4e6e-bae9-cd57fe4f7c5e">RUNNER_ON_OK 10.20.0.89</div><div style="display:none;" id="pad_f6b791c6-c3ae-4e6e-bae9-cd57fe4f7c5e">{<br/>    "msg": "", <br/>    "verbose_always": true, <br/>    "invocation": {<br/>        "module_name": "debug", <br/>        "module_args": "msg=\"\""<br/>    }<br/>}</div><br/>
TASK [myhandler]<br/>
<div style="background-color:red;" class="toggle" id="a0978c8f-a01f-48b7-8e9c-f06b9664645f">RUNNER_ON_FAILED 10.20.0.89</div><div style="display:none;" id="pad_a0978c8f-a01f-48b7-8e9c-f06b9664645f">{<br/>    "cmd": "echoaaa \"this is myhandler\"", <br/>    "end": "2015-07-01 15:50:59.513193", <br/>    "stdout": "", <br/>    "changed": true, <br/>    "start": "2015-07-01 15:50:59.511553", <br/>    "delta": "0:00:00.001640", <br/>    "stderr": "/bin/sh: echoaaa: command not found", <br/>    "rc": 127, <br/>    "invocation": {<br/>        "module_name": "shell", <br/>        "module_args": "echoaaa \"this is myhandler\""<br/>    }, <br/>    "warnings": []<br/>}</div><br/>
<div style="background-color:red;" class="toggle" id="6632babb-2b40-49d2-b5a7-cfd7f192fecd">RUNNER_ON_FAILED 10.20.0.88</div><div style="display:none;" id="pad_6632babb-2b40-49d2-b5a7-cfd7f192fecd">{<br/>    "cmd": "echoaaa \"this is myhandler\"", <br/>    "end": "2015-07-01 15:50:59.235040", <br/>    "stdout": "", <br/>    "changed": true, <br/>    "start": "2015-07-01 15:50:59.233303", <br/>    "delta": "0:00:00.001737", <br/>    "stderr": "/bin/sh: echoaaa: command not found", <br/>    "rc": 127, <br/>    "invocation": {<br/>        "module_name": "shell", <br/>        "module_args": "echoaaa \"this is myhandler\""<br/>    }, <br/>    "warnings": []<br/>}</div><br/>
TASK [myhandler]<br/>
TASK [myhandler]<br/>
<a href='/getPlaybookJobLogByHost/?job_id=34&host=10.20.0.89'>Host: 10.20.0.89</a>, ok: 5, failures: 1, unreachable: 0, changed: 2, skipped: 0<br/><a href='/getPlaybookJobLogByHost/?job_id=34&host=10.20.0.88'>Host: 10.20.0.88</a>, ok: 5, failures: 1, unreachable: 0, changed: 2, skipped: 0<br/><br/>
